<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>ResNet</title>
</head>

<body style="text-align: center;">

    <div class="container">
        <h1 style="text-align: center;">Content Based Image Retrieval</h1>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="query_img" style="margin-left: 500px;"><br>
            <input type="submit">
        </form>
        <h2 style="text-align: center;">Query:</h2>
        {% if query_path %}
        <img src="{{ query_path }}" width="250px" style="margin-left: 15px;">
        <span style="font: size 30px;"><b>Recall = {{recall}} || </b></span>
        <span style="font: size 30px;"><b> Precision = {{precision}} || </b></span>
        <span style="font: size 30px;"><b> Speed is = {{speed}}</b></span>
        {% endif %}
        <h2>Results:</h2>
        {% for score in scores %}
        <figure style="float: left; margin-right: 20px; margin-bottom: 20px;">
            <img src="{{ score[1] }}" height="200px">
            <figcaption>{{ score[0] }}</figcaption>
            <span>{{score[1].stem}}</span>


        </figure>
        {% endfor %}
    </div>
</body>

</html>